/env
/backend/api/__pycache__
/backend/backend/__pycache__
/backend/api/migrations/__pycache__
/backend/api/utils/__pycache__
/node_modules
/frontend/node_modules
/frontend/.env
/backend/.env
.env
