.header-text {
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    color: #382D5E;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
}

.bottom-border {
    border-bottom: 1px solid #000000;
    width: 60%;
    margin: auto;
}